<div>
  <nav class="nav">
    <a routerLink="/apple" routerLinkActive="class1"><img src = "assets\apple.png"></a>
    <a routerLink="/asus" routerLinkActive="class1"><img src = "assets\asus.png"></a>
    <a routerLink="/hp" routerLinkActive="class1"><img src = "assets\hp.png"></a>
    <a routerLink="/lenovo" routerLinkActive="class1"><img src = "assets\lenovo.png"></a>
    <a routerLink="/samsung" routerLinkActive="class1"><img src = "assets\samsung.png"></a>

  </nav>
</div>

<router-outlet></router-outlet>

